<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>简书</string>
		<key>subTitle</key>
		<string>致给远方的大海
只言片语</string>
		<key>image</key>
		<string>01.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>一行
写你的名字

一行
诉说他们的故事

还有一行
留给情书和诗
一封未加戳的信纸

致给远方的大海
只言片语</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
	<dict>
		<key>title</key>
		<string>菩提</string>
		<key>subTitle</key>
		<string>世间最美的相逢  /  是在我遇见你的时刻  /  而你恰好也遇见了我</string>
		<key>image</key>
		<string>02.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>世间最美的相逢
是在我遇见你的时刻
而你恰好也遇见了我
彼此微笑着
相互沉默

在我望向你的时候
而你也望向我
花开一朵

仿佛前世的尘因
结下了今生的宿果

世间最美的相逢
是在我零落的时刻
而你恰巧路过

如此难得
只为将你触摸
全无不舍

在我飘向你的时候
而你也迎向我
不闪不躲</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
	<dict>
		<key>title</key>
		<string>草原</string>
		<key>subTitle</key>
		<string>你可愿与我  /  一同去到我们的草原  /  在那里相守</string>
		<key>image</key>
		<string>03.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>你可愿与我
一同去到我们的草原
在那里相守
静静地看着时光
从指缝间流走

你可愿与我
一同去到我们的草原
依偎在群山的怀抱里
像绵羊一般温柔
亲亲吻着彼此的额头

你可愿与我
一同去到我们的草原
并坐在高高的山岗上
看流星划过、将十指紧紧相扣
如同两朵交融的云
相伴到白头

你可愿与我
一同去到我们的草原
用那绿油油的青草
喂养成批壮硕的奶牛
骑上马匹像风一样自由

你可愿与我
一同去到我们的草原
在雪山下搭起帐篷
等到黄昏时候
牵手
在澄撤的湖水边行走</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
	<dict>
		<key>title</key>
		<string>火鸟</string>
		<key>subTitle</key>
		<string>太阳不远  /  九月不远  /  诗歌不远  /  马匹不远  /  河流不远  /  死亡不远</string>
		<key>image</key>
		<string>04.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>太阳不远
九月不远
诗歌不远
马匹不远
河流不远
死亡不远
火鸟高飞
褐红的翅膀
散落一地
握紧手中的麦子与稻穗

风口  夜色沉醉
酒杯空空
饮下最后一滴海水
倒头酣睡

沙漠尽头
从血泊中升起
一轮金色的太阳</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
	<dict>
		<key>title</key>
		<string>漂泊</string>
		<key>subTitle</key>
		<string>以一滴泪水的纯净  /  投入你的湖心  /  波澜不惊</string>
		<key>image</key>
		<string>05.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>在深蓝色的大海上
我是一块浮冰
我是化身孤岛的蓝鲸
我是流浪的星星

顺着洋流前行
游过礁石
寻你
像寻一盏塔灯
穿过黑暗与潮涌的珊瑚群
我是望向你深邃的眼睛

我是一条飞鱼
拥有透明的眼泪
和七秒记忆
我有一个幻梦
祈求一线光明
从天堂降临

在漫无边际的海上漂流
仿佛一只满载的许愿瓶
我有一颗透明的心
如同易碎的水晶
珍存着以吻封笺的书信

被海浪冲向沙滩
当你无意走近
可会将它拾起
拾起我满含期待的深情

在深蓝色的大海上
我是一块浮冰
我是化身孤岛的蓝鲸
我是流浪的星星
我是望向你的眼睛
饱含深情

如同一朵积雨云
渴望投向你
以一滴泪水的纯净
投入你的湖心
波澜不惊</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
	<dict>
		<key>title</key>
		<string>胭梅</string>
		<key>subTitle</key>
		<string>槛外胭梅  /  春风裁复剪  /  相对啼血  /  猩猩又点点</string>
		<key>image</key>
		<string>06.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>槛外梅
间覆雪
红衣时翩舞
西风裁复剪
香魂销断
折翼为蝴蝶
相见皑皑
殷红片片

掌心印
帕上血
描摹丹枫叶
挂有相思茧
笺字连绵
中绾千千结
华灯三月
骊歌愁绝

笺字成灰
蘸墨情更怯
烟花湮灭
红楼殇伶乐

槛外胭梅
春风裁复剪
相对啼血
猩猩又点点</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
	<dict>
		<key>title</key>
		<string>执迷</string>
		<key>subTitle</key>
		<string>断发、续发终为谁？  /  只可惜，  /  银丝及地，  /  结不成夫妻。</string>
		<key>image</key>
		<string>07.jpg</string>
		<key>author</key>
		<string>Mr. Scorpion</string>
		<key>content</key>
		<string>千年前，我是一片飞雪，飘落尘世，沾过谁的衣襟，染了发香墨气，从此刻在轮回里的是永生不忘的执迷。
千年后，我化作一朵冰莲，驻守在雪山之上，只为等候千年前错失的情缘，甘愿封冻于冰天雪地，虔心祈望再续那一段刻骨铭心的记忆。

冰心玲珑
不见那一袭白衣
峭壁之上
皑雪下莲影依稀
静听山谷
远闻达达的马蹄
仿佛心跳
怦然间屏住呼吸

似曾相识
邂逅久违的美丽
难以触及
白驹过隙的瞬息
千年之后
未了前世的情迷
为谁执念
错过又一幕花期

【念白：狐妖】晞解无暇，唇齿羞启。眉眼低垂，深藏悲喜。思乱霏霏，念之迤逦。

冰莲盛开
瓣上残留着香气
待谁来嗅
如痴如醉的梦呓
虹销晴霁
由不得无声而泣
泪光淋漓
沥不尽点点滴滴


前世你是名动京师的翩翩公子，风姿卓荦，才华横溢，打马路过江南，三月东风漫卷、柳絮纷飞、烟雨饶迷。
熏炉锦帐里，我是堕入红尘的歌姬，身不由己。那年城楼雅阁初逢，皓齿颦笑，抿然不语，自此心猿意马，情难自抑。
而你为我斥金如土，弃尊宠而不顾，贻之玉佩，俟乎垂杨，黄昏重约，定下三生三世，许以双宿双栖。孰料情深缘浅，好景虚化，世事茫茫，人鬼殊途，阴阳两隔，窅窅凄谜。
坟茔外，声色哑，琴弦断，音尘绝。竹林亭中，一支清笛，一袭素霓，残卷画皮；白玉案上，樽倾狐倚，银发垂地，为谁搁笔。

楫舟而行
心事轻泛涟漪
路遥孤驿
勿忘彼岸酴醾
谁深藏功名
江湖隐逸
琼林雾袅
峰巅绝迹

潇湘雪月
悠悠往事谁记
惟余落花吟葬
碾作彤泥
曾许海角天涯
何事生死难依
羡煞人间烟火
转瞬扑朔迷离

冥冥若有天意
叹息杳杳无期
若可相对忘记
留一叶菩提
在青石桥畔
化作一树妖梨
待转世擦肩
绽开朵朵旖旎
我在忘川河边冥想
只为等你

【念白：狐仙】
千年轮回，
不负前世记忆，
执念映白，
长过腰际。
断发、续发终为谁？
只可惜，
银丝及地，
结不成夫妻。</string>
		<key>topic</key>
		<string>诗·Poem</string>
	</dict>
</array>
</plist>
